@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');
@import "todo_list";

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;

  h1 {
    font-size: 72px;
    color: Salmon;
  }
}
